# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: NLP Python Tools

on:
  push:
    branches:
     - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Spacy
        run: |
          pip install spacy

      - name: Download English Language model data
          python -m spacy download en_core_web_sm

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Test with pytest
        run: |
          python -m pytest -v
